In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data = pd.read_csv('/content/99Acres_gurgaon_hyderabad.csv')

In [ ]:
data.head(1)

,Unnamed: 0,PROPERTY_TYPE,CITY,OWNTYPE,BEDROOM_NUM,FURNISH,FACING,AGE,TOTAL_FLOOR,PRICE_SQFT,AREA,SUPERBUILTUP_SQFT,PRICE,BALCONY_NUM,FLOOR_NUM,BHK,LOCALITY,LATITUDE,LONGITUDE,LUXURY,CARPET_SQFT
0,0,Residential Apartment,Secunderabad,1,2.0,2,4,1,5.0,5700.0,1215.0,1215.030206,692500000.0,1.0,2,2.0,Manikonda,17.575957,78.471167,Luxury,1214.969794

In [ ]:
data.drop(columns = ['Unnamed: 0'], inplace = True)

In [ ]:
data.drop(index = [1627], inplace = True)

In [ ]:
data['PROPERTY_TYPE'].value_counts()

PROPERTY_TYPE
Residential Apartment        11296
Independent/Builder Floor     2844
Residential Land              2421
Independent House/Villa       2102
Farm House                      34
Studio Apartment                16
Serviced Apartments              6
Name: count, dtype: int64

In [ ]:
data['PROPERTY_TYPE'].isnull().sum()

0

In [ ]:
data['CITY'].value_counts()

CITY
Gurgaon         10662
Hyderabad        7484
Secunderabad      573
Name: count, dtype: int64

In [ ]:
data['OWNTYPE'].value_counts()

OWNTYPE
1    16502
0     1973
3       86
4       80
2       78
Name: count, dtype: int64

In [ ]:
data['BEDROOM_NUM'].value_counts()

BEDROOM_NUM
3.0     7918
4.0     4078
2.0     3296
5.0      499
1.0      208
6.0       89
9.0       48
10.0      41
7.0       35
8.0       21
12.0      20
11.0       6
16.0       4
22.0       4
18.0       3
14.0       3
21.0       3
19.0       2
20.0       2
17.0       1
15.0       1
Name: count, dtype: int64

In [ ]:
data['FURNISH'].value_counts()

FURNISH
4    9693
2    4762
0    2886
1    1378
Name: count, dtype: int64

In [ ]:
data.isnull().sum()

PROPERTY_TYPE           0
CITY                    0
OWNTYPE                 0
BEDROOM_NUM          2437
FURNISH                 0
FACING                  0
AGE                     0
TOTAL_FLOOR           410
PRICE_SQFT              0
AREA                    0
SUPERBUILTUP_SQFT    3977
PRICE                   0
BALCONY_NUM          2444
FLOOR_NUM            4557
BHK                  7160
LOCALITY                3
LATITUDE             1249
LONGITUDE            1249
LUXURY                  0
CARPET_SQFT          4145
dtype: int64

In [ ]:
data = data[data['BEDROOM_NUM'].notnull()]

In [ ]:
data['BEDROOM_NUM'].isnull().sum()

0

In [ ]:
#data.drop(columns = ['TOTAL_FLOOR'], inplace=True)

<ipython-input-56-3fa2ae7ea085>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns = ['TOTAL_FLOOR'], inplace=True)

In [ ]:
data['FACING'].value_counts()

FACING
3    5613
5    3955
4    2059
1    1780
0    1550
6     406
7     390
2     291
8     238
Name: count, dtype: int64

In [ ]:
data['AGE'].value_counts()

AGE
1    5518
6    4446
5    3407
2    2008
3     900
0       3
Name: count, dtype: int64

In [ ]:
data[data['SUPERBUILTUP_SQFT'].isnull()]

,PROPERTY_TYPE,CITY,OWNTYPE,BEDROOM_NUM,FURNISH,FACING,AGE,TOTAL_FLOOR,PRICE_SQFT,AREA,SUPERBUILTUP_SQFT,PRICE,BALCONY_NUM,FLOOR_NUM,BHK,LOCALITY,LATITUDE,LONGITUDE,LUXURY,CARPET_SQFT
8083,Residential Apartment,Gurgaon,1,3.0,1,3,6,21.0,16000.0,2200,NaN,35600000.0,2.0,7,3.0,Sector 111,28.519268,77.027259,Luxury,2200.0
8084,Residential Apartment,Gurgaon,1,3.0,1,3,6,21.0,13000.0,1700,NaN,22500000.0,2.0,2,3.0,Sector 111,28.519268,77.027259,Luxury,NaN
8090,Independent House/Villa,Gurgaon,1,3.0,4,5,5,4.0,9771.0,1535,NaN,15000000.0,3.0,NaN,2.0,Sector 37D,28.439541,76.969755,Luxury,1020.0
8091,Independent House/Villa,Gurgaon,1,4.0,4,3,6,1.0,36000.0,5000,NaN,180000000.0,2.0,NaN,4.0,South City 1,28.460089,77.066245,Luxury,NaN
8095,Independent House/Villa,Gurgaon,1,3.0,1,3,5,15.0,10500.0,1579,NaN,16600000.0,3.0,NaN,NaN,Sector 113,28.532594,77.020297,Luxury,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18711,Residential Apartment,Gurgaon,1,3.0,1,5,5,14.0,13900.0,1000,NaN,13900000.0,4.0,2,3.0,Sector 93,28.414620,76.925320,Luxury,1000.0
18712,Residential Apartment,Gurgaon,1,3.0,4,3,5,14.0,14200.0,1000,NaN,14200000.0,4.0,1,3.0,Sector 93,28.414620,76.925320,Luxury,1000.0
18713,Residential Apartment,Gurgaon,1,3.0,4,0,5,14.0,14100.0,1000,NaN,14100000.0,3.0,1,3.0,Sector 93,28.414620,76.925320,Luxury,1000.0
18714,Residential Apartment,Gurgaon,1,3.0,4,3,5,33.0,9189.0,1850,NaN,17000000.0,4.0,1,3.0,Sector 83,28.396610,76.972830,Luxury,1850.0
18716,Residential Apartment,Gurgaon,1,3.0,4,5,5,33.0,9100.0,1450,NaN,13500000.0,4.0,18,3.0,Sector 83,28.396610,76.972830,Luxury,NaN

In [ ]:
data.drop(columns = ['CARPET_SQFT','SUPERBUILTUP_SQFT'], inplace=True)

In [ ]:
data = data[~data['BALCONY_NUM'].isnull()]

In [155]:
data.isnull().sum()

PROPERTY_TYPE    0
CITY             0
OWNTYPE          0
BEDROOM_NUM      0
FURNISH          0
FACING           0
AGE              0
TOTAL_FLOOR      0
PRICE_SQFT       0
AREA             0
PRICE            0
BALCONY_NUM      0
FLOOR_NUM        0
BHK              0
LOCALITY         3
LATITUDE         0
LONGITUDE        0
LUXURY           0
dtype: int64

In [ ]:
data['BHK'].fillna(data['BEDROOM_NUM'], inplace = True)

In [ ]:
data['AREA'] = data['AREA'].astype(float)

In [ ]:
data['FLOOR_NUM'].fillna(data['TOTAL_FLOOR'], inplace = True)

In [ ]:
data = data[~data['FLOOR_NUM'].isnull()]

In [ ]:
def floorNum(item):
  if item == 'L':
    return '1'
  elif item == 'G':
    return '0'
  elif item == 'B':
    return '1'
  else :
    return item

In [ ]:
data['FLOOR_NUM'] = data['FLOOR_NUM'].apply(floorNum).astype(int)

In [ ]:
lat = data[(data['LOCALITY'] == 'Manikonda') & (~data['LONGITUDE'].isnull())].mode()['LATITUDE'][0]
longi = data[(data['LOCALITY'] == 'Manikonda') & (~data['LONGITUDE'].isnull())].mode()['LONGITUDE'][0]

In [154]:
data = data[~data['LONGITUDE'].isnull()]

In [157]:
data = data[~data['LOCALITY'].isnull()]

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15340 entries, 0 to 18719
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PROPERTY_TYPE  15340 non-null  object
 1   CITY           15340 non-null  object
 2   OWNTYPE        15340 non-null  int64
 3   BEDROOM_NUM    15340 non-null  float64
 4   FURNISH        15340 non-null  int64
 5   FACING         15340 non-null  int64
 6   AGE            15340 non-null  int64
 7   TOTAL_FLOOR    15340 non-null  int64
 8   PRICE_SQFT     15340 non-null  float64
 9   AREA           15340 non-null  float64
 10  PRICE          15340 non-null  float64
 11  BALCONY_NUM    15340 non-null  int64
 12  FLOOR_NUM      15340 non-null  int64
 13  BHK            15340 non-null  float64
 14  LOCALITY       15340 non-null  object
 15  LATITUDE       15340 non-null  float64
 16  LONGITUDE      15340 non-null  float64
 17  LUXURY         15340 non-null  object
dtypes: float64(7), int64(7), object(4)
memory usage: 2.2+ MB

In [177]:
data['BHK']=data['BHK'].astype(int)

In [174]:
data['BALCONY_NUM']=data['BALCONY_NUM'].astype(int)

In [169]:
data['PRICE_SQFT'].value_counts()

PRICE_SQFT
10000.0    130
30.0        79
31.0        77
33.0        75
32.0        74
          ...
9422.0       1
6620.0       1
13593.0      1
13505.0      1
9100.0       1
Name: count, Length: 7354, dtype: int64

In [167]:
data['TOTAL_FLOOR']=data['TOTAL_FLOOR'].astype(int)

In [165]:
data['AGE'].value_counts()

AGE
1    5186
6    4147
5    3185
2    1938
3     881
0       3
Name: count, dtype: int64

In [164]:
data['FACING'].value_counts()

FACING
3    5110
5    3899
4    1808
1    1714
0    1514
6     395
7     383
2     286
8     231
Name: count, dtype: int64

In [163]:
data['FURNISH'].value_counts()

FURNISH
4    9355
2    4261
1    1282
0     442
Name: count, dtype: int64

In [161]:
data['OWNTYPE'].value_counts()

OWNTYPE
1    13471
0     1667
2       72
4       67
3       63
Name: count, dtype: int64

In [162]:
data['BEDROOM_NUM'].value_counts()

BEDROOM_NUM
3.0     7480
4.0     3944
2.0     2981
5.0      484
1.0      177
6.0       81
9.0       48
10.0      40
7.0       35
8.0       21
12.0      20
11.0       6
16.0       4
22.0       4
18.0       3
14.0       3
21.0       3
19.0       2
20.0       2
17.0       1
15.0       1
Name: count, dtype: int64

In [160]:
data['CITY'].value_counts()

CITY
Gurgaon         10458
Hyderabad        4547
Secunderabad      335
Name: count, dtype: int64

In [159]:
data['PROPERTY_TYPE'].value_counts()

PROPERTY_TYPE
Residential Apartment        10537
Independent/Builder Floor     2836
Independent House/Villa       1915
Farm House                      33
Studio Apartment                14
Serviced Apartments              5
Name: count, dtype: int64

In [178]:
data.to_csv('99Acres_gurgaon_hyderabad_Secunderabad.csv', index=True)